*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
build
debug
backup
doc
.gradle
.idea
db
gradle
*.apk
*.ap_
*.class
*.html
*.txt
*.sh
*.sql
*.db
*.7z
*.rar
*.zip
*.tar.gz
*.tgz
*.json
scripts/climb_directions
.DS_Store
local.properties
/app/build
db/
api/
assets/altimetr.db
app/src/main/res/values/keys.xml
app/src/main/res/values-pl/keys.xml
app/src/main/res/values-es/keys.xml
app/src/main/res/values-ru/keys.xml
keys.xml
*keys.xml
compilation/
app-release.apk
app-debug.apk
