*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
build
debug
backup
doc
.gradle
.idea
db
gradle
*.apk
*.ap_
*.class
*.html
*.txt
*.sh
*.rb
*.sql
.DS_Store
local.properties
/app/build

