<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.narzew.bikeheaven"
    android:versionCode="2"
    android:versionName="1.1"
    tools:ignore="MissingTranslation">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/NLightStyle">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MapsActivity"
            android:label="@string/app_name"
            android:largeHeap="true"
            android:theme="@style/NLightStyle"></activity>
        <activity
            android:name=".ClimbInfoActivity"
            android:label="@string/climbinfo_activity"
            android:theme="@style/NLightStyle"></activity>
        <activity
            android:name=".RegionInfoActivity"
            android:label="@string/settings_activity"
            android:theme="@style/NLightStyle"></activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/settings_activity"
            android:theme="@style/NLightStyle"></activity>
        <activity
            android:name=".AppInfoActivity"
            android:label="@string/settings_activity"
            android:theme="@style/NLightStyle"></activity>
        <activity
            android:name=".ClimbMapActivity"
            android:label="@string/settings_activity"
            android:largeHeap="true"
            android:theme="@style/NLightStyle"></activity>
        <activity
            android:name=".RegionMapActivity"
            android:label="@string/settings_activity"
            android:largeHeap="true"
            android:theme="@style/NLightStyle"></activity>

        <service android:name=".services" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/com.google.android.maps.v2.API_KEY"
            tools:ignore="ManifestResource" />

        <activity android:name=".DBUpdateActivity"></activity>
    </application>

</manifest>